.like_list_page{
    display: none;
    flex-direction: column;
}
.like_list_container{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}
.like_list_view{
    display:flex;
    justify-content: space-between;
}
.drag_button{
    font-size:1.8em;
    display:none;
}

.like_list_drag_container{
    position:fixed;
    display:none;
    width:99%;
    height:99%;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.drag_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:99%;
    height:99%;
}
.drag_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.drag_quit{
    font-size: 1.8em;
    float:right;
}
