.like_list_page{
    display: none;
    flex-direction: column;
}
.like_list_container{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}
.like_list_view{
    display:flex;
    justify-content: space-between;
}
.drag_button{
    font-size:1.8em;
    display:none;
}