.header{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.nav-bar{
    height: 8vh;
    width:100vw;
    padding:10px;
    gap:30px;
    display: flex;
    align-items:baseline
}
.movie-icon{
    height:100%;
    display: flex;
}
.icon_image{
    height:100%;
    padding: 0%;
}

.text_moives_list{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-decoration: none;
    padding:0;
    margin:0;
}
.underline{
    background-color: red;
    height: 4px;
}
.nav-underline{
    background-color: gray;
    height: 4px;
}
.movies_list{
    font-size: 1.8em;
}
.like_list{
    /* display: none; */
    font-size: 1.8em;
}

