.header{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.nav-bar{
    height: 8vh;
    width:100vw;
    padding:10px;
    gap:30px;
    display: flex;
    align-items:flex-end;
}
.movie-icon{
    height:100%;
    display: flex;
}
.icon_image{
    height:100%;
    padding: 0%;
}

.text_moives_list{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-decoration: none;
    padding:0;
    margin:0;
}
.underline{
    background-color: red;
    height: 4px;
}
.nav-underline{
    background-color: gray;
    height: 4px;
}
.Movies_list{
    font-size:1.8em;
}
.like_list{
    display: none;
    position:relative;
    cursor: pointer;
    font-size: 1.8em;
}
.like_list_length{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0%;
    left:100%;
    background-color: red;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    font-size: 0.7em;
    color: white;
}

